<?xml version="1.0"?>
<launch>
  <arg name="object" default="convex" />
  <arg name="grasp_motion_plugin_name" default="whole_body" />

  <node pkg="aerial_transportation" name="aerial_transportation" type="aerial_transportation_node" output="screen">
    <rosparam file="$(find aerial_transportation)/config/aerial_transportation.yaml" command="load" />
    <rosparam file="$(find aerial_transportation)/config/hydrus.yaml" command="load" />

    <param name="searching_file_name" value = "$(find aerial_transportation)/log/searching_result_$(arg object).txt"/>
  </node>

  <include file="$(find aerial_transportation)/launch/test_object.launch" >
    <arg name="object" default="$(arg object)" />
    <arg name ="only_pub" default="true" />
  </include>

</launch>
