<?xml version="1.0"?>
<launch>
  <arg name="object" default="convex" />
  <arg name="headless" default="False" />

  <!-- robot: hydrus -->
  <include file="$(find hydrus)/launch/hydrusx/hydrusx_bringup.launch" >
    <arg name="real_machine" value="False" />
    <arg name="simulation" value="True" />
    <arg name="control_mode" value="0" />
    <arg name="type" value="quad" />
    <arg name="estimate_mode"  value= "2" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="worldtype" value="$(find aerial_transportation)/gazebo_model/world/$(arg object)_object.world" />
  </include>
</launch>
